{% extends "base.html" %}

{% load static %}

{% block title %}Welcome to Sizzle{% endblock %}

{% block content %}
    <div class="text-center">
        <h1 class="display-4">Welcome to Sizzle!</h1>
        <p class="lead">Your one-stop solution to discover and share the tastiest recipes.</p>
        <a href="{% url 'recipe_list' %}" class="btn btn-primary btn-lg">Browse Recipes</a>
    </div>

    <div class="row mt-5">
        <div class="col-md-4 text-center">
            <img src="https://res.cloudinary.com/dmylma7bf/image/upload/v1727734088/mm5zi9vpxmoil6zks8mn.jpg" class="img-fluid rounded" alt="Fresh Ingredients">
            <h3>Fresh Ingredients</h3>
            <p>Discover recipes that highlight fresh and wholesome ingredients.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="https://res.cloudinary.com/dmylma7bf/image/upload/v1727734087/mocmyxteoqzcquuseyos.jpg" class="img-fluid rounded" alt="A couple cooking together">
            <h3>Easy Cooking</h3>
            <p>Find simple, step-by-step guides to create delicious meals.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="https://res.cloudinary.com/dmylma7bf/image/upload/v1727734087/ri2smiy8g6bwcvwjxk8l.jpg" class="img-fluid rounded" alt="Cooking Class">
            <h3>Join the Community</h3>
            <p>Share your favorite recipes and get feedback from fellow food lovers.</p>
        </div>
    </div>
{% endblock %}
