{% extends "base.html" %}

{% load static %}

{% block title %}Recipes - Sizzle{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Recipes</h1>
        <div class="row">
            {% for recipe in recipes %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <img src="{{ recipe.featured_image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.title }}</h5>
                            <p class="card-text">{{ recipe.description }}</p>
                            <a href="{% url 'recipe_detail' recipe.id %}" class="btn btn-primary">View Recipe</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <p class="text-center">No recipes available at the moment.</p>
            {% endfor %}
        </div>
    </div>
    {% endblock %}

